<div class="change-password-container">
  <h2>Change Password</h2>

  <form >
    <div class="input-group">
      <input
        type="password"
        formControlName="currentPassword"
        placeholder="Current Password"
       
      />
      <div class="error" *ngIf="submitted && currentPassword.invalid">
        <!-- <small *ngIf="currentPassword.errors?.['required']">Current password is required.</small> -->
      </div>
    </div>

    <div class="input-group">
      <input
        type="password"
        formControlName="newPassword"
        placeholder="New Password"
       
      />
      <div class="error" *ngIf="submitted && newPassword.invalid">
        <!-- <small *ngIf="newPassword.errors?.['required']">New password is required.</small>
        <small *ngIf="newPassword.errors?.['minlength']">Minimum 6 characters.</small> -->
      </div>
    </div>

    <div class="input-group">
      <input
        type="password"
        formControlName="confirmPassword"
        placeholder="Confirm New Password"
       
      />
      <div class="error" *ngIf="submitted && confirmPassword.invalid">
        <!-- <small *ngIf="confirmPassword.errors?.['required']">Confirmation is required.</small>
        <small *ngIf="confirmPassword.errors?.['mismatch']">Passwords do not match.</small> -->
      </div>
    </div>

    <!-- <div class="error" *ngIf="error">{{ error }}</div>
    <div class="success" *ngIf="success">{{ success }}</div> -->

    <button type="submit" >
     submit
    </button>
  </form>
</div>
