<div class="quiz-cnt">
  <div *ngIf="isLoading">
    <app-loading></app-loading>
  </div>

  <div *ngIf="!isLoading">
    <div *ngIf="quizzes && quizzes.length > 0; else noTests">
      <div class="quiz-container">
        <ul>
          <li *ngFor="let quiz of quizzes">
            <a [routerLink]="['/quiz/play', quiz.category, quiz.id]" class="quiz-link">
              <img class="quiz-img" src="test-show-banner.avif" alt="Quiz Image" />
              <div class="quiz-text">
                <h3>{{ quiz.title | uppercase }}</h3>
                <p>{{ quiz.description }}</p>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <ng-template #noTests>
    <p>No tests found for this category.</p>
  </ng-template>
</div>
