.quiz-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #306085;
  color: white;
  padding: 2rem 2rem;
  flex-wrap: wrap;
  border-top: 2px solid #204060;
  margin-top: 3rem;
}

.footer-left,
.footer-center,
.footer-right {
  display: flex;
  align-items: center;
  gap: 4rem;
  flex-wrap: wrap;
}

.footer-center a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.2s ease;
  cursor: pointer;
}
.footer-center a:hover {
  color: #82d7ec;
}
