<section class="register-container">
  <div class="register-image">
    <img src="register-form.webp" alt="Register Illustration" />
  </div>

  <div class="register-form-wrapper">
    <h2>Join the Quiz App</h2>
    <p>Compete, learn, and improve your skills. Create your account now.</p>

    <form [formGroup]="registerForm" (ngSubmit)="onRegister()" novalidate>
      <div class="input-group">
        <label for="displayName">Name</label>
        <input
          id="displayName"
          formControlName="displayName"
          type="text"
          [class.invalid]="submitted && form.displayName.invalid"
        />
        @if (submitted && form.displayName.hasError('required')) {
        <div class="error">Name is required.</div>
        }
        @if((submitted || form.displayName.touched) && form.displayName.hasError('taken')){
          <div class="error">Username is already taken.</div>
        }
      </div>

      <div class="input-group">
        <label for="email">Email</label>
        <input
          id="email"
          formControlName="email"
          type="email"
          [class.invalid]="submitted && form.email.invalid"
        />
        @if (submitted && form.email.hasError('required')) {
        <div class="error">Email is required.</div>
        }@if ((submitted || form.email.touched) && form.email.hasError('email')) {
  <div class="error">Invalid email format.</div>
}
        @if (submitted && form.email.hasError('emailExists')) {
            <div class="error">Email is already registered.</div>
          }
      </div>
      <div class="input-group password-group">
        <label for="password">Password</label>
        <input
          [type]="passwordVisible ? 'text' : 'password'"
          id="password"
          formControlName="password"
          [class.invalid]="submitted && form.password.invalid"
        />
        <button
          type="button"
          class="toggle-password"
          (click)="passwordVisible = !passwordVisible"
        >

          @if(!passwordVisible){
          <span>👁️</span>
          }@else if (passwordVisible){
          <span>🙈</span>
          }
        </button>
        @if (submitted && form.password.hasError('required')) {
        <div class="error">Password is required.</div>
        } @if (submitted && form.password.hasError('minlength')) {
        <div class="error">Password must be at least 6 characters.</div>
        }
      </div>

      <div class="input-group password-group">
        <label for="confirmPassword">Confirm Password</label>
        <input
          [type]="confirmPasswordVisible ? 'text' : 'password'"
          id="confirmPassword"
          formControlName="confirmPassword"
          [class.invalid]="submitted && form.confirmPassword.invalid"
        />
        <button
          type="button"
          class="toggle-password"
          (click)="confirmPasswordVisible = !confirmPasswordVisible"
        >
          @if(!confirmPasswordVisible){
          <span>👁️</span>
          }@else if (confirmPasswordVisible){
          <span>🙈</span>
          }
        </button>

        @if (submitted && form.confirmPassword.hasError('required')) {
        <div class="error">Confirm password is required.</div>
        }@else if (submitted && registerForm.hasError('mismatch')) {
        <div class="error">Passwords do not match.</div>
        }
      </div>

      <button type="submit" [disabled]="loading">
        @if(loading){
        <span>Loading...</span>
        }@else if (!loading){
        <span>Register</span>
        }
      </button>

      <div class="register-prompt">
        <span>Already have an account?</span>
        <a routerLink="/auth/login">Login here</a>
      </div>
    </form>
  </div>
</section>
