@if (loading) {
<app-loading></app-loading>
} @else { @if (quizSubject.value) {
<div class="quiz-player-wrapper">
  <div class="quiz-main">
    <h1>{{ quizSubject.value.title }}</h1>
    <p>{{ quizSubject.value.description }}</p>

    <h2>
      The quiz includes these questions. You can press ▶ Play to test your
      knowledge.
    </h2>

    @for (question of quizSubject.value.questions; track $index) {
    <p class="question-text">{{ question.text }}</p>
    
    } @if (isLoggedIn()) {
    <button
      mat-raised-button
      color="primary"
      (click)="startQuiz(quizSubject.value)"
    >
      ▶ Play Quiz
    </button>
    } @else {
    <p class="login-message">
      Please,
      <a
        [routerLink]="['/auth/login']"
        [queryParams]="{ redirectUrl: currentUrl }"
        >Log in</a
      >, in order to start the quiz.
    </p>
    }
  </div>

  <aside class="quiz-sidebar">
    <div class="meta-item">
      <strong>Author:</strong>
      @if (authorName !== 'Deleted user') {
      <a [routerLink]="['/user', authorId]">{{ authorName }}</a>
      } @else {
      <span class="deleted-user">{{ authorName }}</span>
      }
    </div>

    <div class="meta-item">
      <strong>Likes:</strong> {{ quizSubject.value.likesCount || 0 }}
    </div>

    <div class="meta-item">
      <button
        mat-stroked-button
        color="warn"
        (click)="reportBug()"
        style="background-color: rgb(243, 120, 120)"
      >
        Report a Bug
      </button>

      @if ((hasLiked$ | async) === false) {
      <button class="custom-btn" (click)="likeQuiz()"  [disabled]="isLiking">👍 Like</button>
      }
    </div>

    @if (categoryName && quizId) {
    <app-comments-component
      [categoryName]="categoryName"
      [quizId]="quizId"
      [quizOwnerId]="authorId"
      [currentUrl]="currentUrl"
    ></app-comments-component>
    }
  </aside>
</div>
} @else {
<div class="quiz-not-found">
  <p>Quiz not found.</p>
</div>
} }
