<div class="quiz-player-wrapper" *ngIf="quiz$ | async as quiz">
  <div class="quiz-main">
    <h1>{{ quiz.title }}</h1>
    <p>{{ quiz.description }}</p>

    <h2>
      The quiz includes these questions. You can press ▶ Play to test your
      knowledge.
    </h2>

    <div *ngFor="let question of quiz.questions">
      <p class="question-text">{{ question.text }}</p>
    </div>

    <ng-container *ngIf="isLoggedIn(); else loginBlock">
      <button mat-raised-button color="primary" (click)="startQuiz(quiz)">
        ▶ Play Quiz
      </button>
    </ng-container>

    <ng-template #loginBlock>
      <p class="login-message">
        Please,
        <a
          [routerLink]="['/auth/login']"
          [queryParams]="{ redirectUrl : currentUrl }"
          >Log in</a
        >, order to start the quiz.
      </p>
    </ng-template>
  </div>

  <aside class="quiz-sidebar">
<div class="meta-item">
  <strong>Author:</strong>
  <ng-container *ngIf="authorName !== 'Deleted user'; else deletedUser">
    <a [routerLink]="['/user', authorId]">{{ authorName }}</a>
  </ng-container>
  <ng-template #deletedUser>
    <span class="deleted-user">{{ authorName }}</span>
  </ng-template>
</div>

    <div class="meta-item"><strong>Likes:</strong> 123</div>

    <div class="meta-item">
      <button
        mat-stroked-button
        color="warn"
        (click)="reportBug() "
        style="background-color: rgb(243, 120, 120)"
      >
        Report a Bug
      </button>
    </div>

    <div class="meta-item comments-section">
      <h4>Comments</h4>

      <textarea
        [(ngModel)]="newComment"
        [placeholder]="isLoggedIn() ? 'Write your comment...' : 'Please login to add comment'"
        [disabled]="!isLoggedIn()"
        rows="3"
      ></textarea>
      <button
        mat-raised-button
        color="primary"
        (click)="addComment()"
        [disabled]="!isLoggedIn()"
      >
        Add comment
      </button>
      <div *ngIf="!isLoggedIn()" style="margin-top: 5px">
        <a
          [routerLink]="['/auth/login']"
          [queryParams]="{ redirectUrl : currentUrl }"
          >Login</a
        >
        to add comment
      </div>

      <ul>
        <li *ngFor="let comment of comments">{{ comment }}</li>
        <li *ngIf="comments.length === 0">There are no comments yet.</li>
      </ul>
    </div>
  </aside>
</div>
